
.dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #f4f4f4;
  }
  
  .chart-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  .info-icon {
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    color: #999;
  }
  
  .pie-legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .legend-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  
  .total-sales {
    text-align: center;
    margin-top: 20px;
  }
  
  .total-sales h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .total-sales p {
    font-size: 36px;
    margin: 5px 0 0;
  }
  
  .size{
    font-size: 15px;
  }